/* REGLES GENERALES */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* CSS HEADER */

.navbar-default {
background-color: transparent;
border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
background-color: transparent;
color: white;
font-size: 1.5em;
margin-top: 10px;
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* CSS générales */
.container-marges{
    margin-top:50px;
}


/* CSS ECRAN 01 - ACCROCHE - TITRE DU PROJET + VISUEL APPLICATION */

.ecran01 {
background-image: linear-gradient(to right top, #73ced6, #55dcc4, #70e59a, #abe762, #f2df20);
background-image: linear-gradient(to right top, #e800ff, #ff00a6, #ff4d56, #ffa001, #ebd812);
background-image: url("../images/boite.jpg");
height: 100vh;
}

.fondimage{
animation: fadeInUp 2.5s linear;
background-image: url("../images/mockup-ecran01-bis.png");
background-repeat: no-repeat;
height: 100vh;
background-position: right 165% bottom;
}


.lisibilite{
	background-color: rgba(0,0,0,0.15);
	height: 100vh;
}

.titre {
	height: 100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}


.titrage {
	display:flex;
	align-items:center;
	justify-content:center;
}


h1 {
	font-size: 5em;
	color: white;
}


/* KEYFRAMES ANIMATIONS */

@keyframes fadeInUp{ /* fadeIn */
    from { opacity:0; }
    to { opacity:1; }
}


/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* CSS ECRAN 02 - PARTIE ETAPES  */


.text_etapes{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.etapes{
    margin-top:30px;
}

.img_etapes{
    display: flex;
    justify-content: center;
}

.img-etapes-height{
    height: 400px;
}


/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* CSS ECRAN 03 - PARTIE MEMBRES */

.membres{
    position: relative;
    height: 300px;
    margin-bottom: 10px;
}

.img_membres{
    position: absolute;
    height: 100%;
    z-index: 2;
    opacity: 0;
}

.arrondi{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.img_boites{
    position: absolute;
    height: 100%;
    z-index: 1;
}

.img_membres:hover{
    opacity: 1;
    transition: all 0.5s ease-out;
}


/* Hover content */
.hover_content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.50s linear;
    color: #FFF;
    background-color: rgba(0,0,0,0.2);
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5%;
}

.hover_content:hover{
    opacity: 1;
}


/* Alignement texte */
.text_center{
    text-align: center;
}

.text_justify{
    text-align: justify;
}


/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* CARTE */

.map{
    margin-top:50px;
    margin-bottom: 50px;
    overflow:hidden;
    padding-bottom:400px;
    position:relative;
    height:0;
}

.map iframe{
    width:100%;
    position:absolute;
    padding-left: 15px;
    padding-right: 15px;
}


/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* RESPONSIVE  */

/* Media Query */

@media(min-width:768px){
    .etapes{
        margin-top:30px;
        display: flex;
        align-items: center;
    }
}