/* REGLES GENERALES */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* CSS HEADER */

/*.navbar-default {
background-color: transparent;
border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
background-color: transparent;
color: white;
font-size: 1.5em;
margin-top: 10px;
}*/

/* ------ MENU MOBILE ------ */
header{
    position: fixed;
    z-index: 3;
    top: 0;
}

#main-nav {
	position:fixed;
	right:0;
	top:0;
	z-index:1;
	width:250px;
	height:100vh;
	background-color: White;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
	/* On décale le menu de 300px sur la gauche pour pas que l'élément ni l'ombre ne soit a l'écran */
	transform:translateX(100%);
	transition:transform 0.4s ease-in-out;
}

#main-nav.open {
	transform:translateX(0%);
}

#main-nav h1{
	text-align:center;
	color:rgba(77, 99, 255, 1);
}

#main-nav  ul {
	list-style-type:none; /*Enlever les puces */
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
}

#main-nav ul li{
	display:block;
	width:90%;
	margin:0 auto;
	padding:0;
    padding-bottom: 20px;
}

#main-nav a{
	display:block;
	height:100%;
	width:100%;
	background-color:transparent;
	color:black;
	text-decoration:none;
	transition:background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 1.8rem;
    padding-top: 30px;
}

#main-nav a:hover{
	color: rgba(77, 99, 255, 1);
}

.buttons{
	background-color:transparent;
	border:none;
	padding:5px;
	margin:0;
	cursor:pointer; /* Affiche le pointeur */
}

h5{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(77, 99, 255, 1);
    margin-top: 30px;
}

/* --- Boutons menu --- */
#close-btn{
	color:rgba(77, 99, 255, 1);
	font-size: 3rem;
	position:absolute;
	right:30px;
	top:13px;
}

#open-btn{
	color:#000;
	font-size: 5pt;
	position:fixed;
	top:15px;
	right:5%;
}

#open-btn {
    display:block !important;
}

/* ------ MENU PC ------ */
#main-nav2 {
	position:fixed;
	right:20px;
	top:15px;
	z-index:10;
}

#main-nav2  ul {
	list-style-type:none; /*Enlever les puces */
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
}

#main-nav2 ul li{
	display:inline-block;
	margin:0 auto;
	padding:0;
    margin-right: 40px;
}

#main-nav2 a{
	display:block;
	height:100%;
	width:100%;
	background-color:transparent;
	color:black;
	text-decoration:none;
    font-weight: 600;
    font-size: 1.8rem;
}

#main-nav2 a:hover{
	color: rgba(77, 99, 255, 1);
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* CSS générales */
.container-marges{
    margin-top:50px;
}


/* CSS ECRAN 01 - ACCROCHE - TITRE DU PROJET + VISUEL APPLICATION */

.ecran01 {
background-image: linear-gradient(to right top, #73ced6, #55dcc4, #70e59a, #abe762, #f2df20);
background-image: linear-gradient(to right top, #e800ff, #ff00a6, #ff4d56, #ffa001, #ebd812);
background-image: url("../images/boite.jpg");
height: 100vh;
}

.fondimage{
animation: fadeInUp 2.5s linear;
background-image: url("../images/mockup-ecrans.png");
background-repeat: no-repeat;
height: 100vh;
background-position: left 20% bottom;
}


.lisibilite{
	background-color: rgba(0,0,0,0.15);
	height: 100vh;
}

.titre {
	height: 100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}


.titrage {
	display:flex;
	align-items:center;
	justify-content:center;
}





/* KEYFRAMES ANIMATIONS */

@keyframes fadeInUp{ /* fadeIn */
    from { opacity:0; }
    to { opacity:1; }
}


/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* ECRAN 1 */
#voisilien-titre{
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

h1 {
	font-size: 5em;
	color: white;
    font-weight: 700;
    text-align: center;
}


#presentation-voisilien{
    display: flex;
    height: 100vh;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.img_membres2{
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.cover{
    object-fit: cover;
    width: 32.6vw;
    height: 33.32vh;
}

.img_boites2{
    z-index: 1;
}

.img_membres2:hover{
    opacity: 1;
    transition: all 0.5s ease-out;
}





/* CSS ECRAN 02 - PARTIE ETAPES  */


.text_etapes{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.etapes{
    margin-top:30px;
}

.img_etapes{
    display: flex;
    justify-content: center;
}

.img-etapes-height{
    height: 400px;
}


/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* CSS ECRAN 03 - PARTIE MEMBRES */

.membres{
    position: relative;
    height: 300px;
    margin-bottom: 10px;
}

.img_membres{
    position: absolute;
    height: 100%;
    z-index: 2;
    opacity: 0;
}

.arrondi{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.img_boites{
    position: absolute;
    height: 100%;
    z-index: 1;
}

.img_membres:hover{
    opacity: 1;
    transition: all 0.5s ease-out;
}


/* Hover content */
.hover_content {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.50s linear;
    color: #FFF;
    background-color: rgba(0,0,0,0.2);
    font-size: 2rem;
    font-weight: 600;
    border-radius: 5%;
}

.hover_content:hover{
    opacity: 1;
}


/* Alignement texte */
.text_center{
    text-align: center;
}

.text_justify{
    text-align: justify;
}


/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* CARTE */

.map{
    margin-top:50px;
    margin-bottom: 50px;
    overflow:hidden;
    padding-bottom:400px;
    position:relative;
    height:0;
}

.map iframe{
    width:100%;
    position:absolute;
    padding-left: 15px;
    padding-right: 15px;
}


/* ----- Titres ----- */
h2{
    padding-top: 
        3rem; /* Important pour le scroll du menu, si on l'enlève le titre se retrouve touuuuuut en haut collé */
}


/* ----- Bouton scroll to top ----- */
#btn-scroll-top{
    position: fixed;
    bottom: 20px;
    right: 3vw;
    opacity: 0.5;
}

#btn-scroll-top:hover{
    opacity: 1;
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* RESPONSIVE  */

/* Media Query */

@media(min-width:768px){
    .etapes{
        margin-top:30px;
        display: flex;
        align-items: center;
    }
}
@media(min-width:768px){
    #menu_hamburger{
        display: none;
    }
}

@media(max-width:769px){
    #menu_pc{
        display:none;
    }
    .cover{
    object-fit: cover;
    width: 48vw;
    height: 25vh;
}
    #masquer{
        display: none;
    }
}